
@{
    ViewData["Title"] = "EditAnimal";
}

<h1 style="text-align:center">EditAnimal</h1>
<div id="DivForTable"></div>
<partial name="_MyPartialView"></partial>
<input type="submit" value="Save changes"/>
